*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.cabecalho{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 100px;
    align-items: center;
}
#imgtittle{
    padding-top: 12px;
    width: 650px;
}
#links-pag{
    display: none;
}
.ft-perfil:hover #links-pag{
    display: block;
}
.pag-1:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}
.ft-perfil{
    height: 30px;
    align-items: center;
    display: flex;
    gap: 20px;
    transition: 130ms;
}
.ft-perfil:hover{
    height: 35px;
}

.ft-cadastro{
    height: 40px;
    transition: 130ms;
}
.ft-cadastro:hover{
    height: 45px;
}

.cabecalho, footer{
    background-color: rgb(67, 110, 67);
}

.pag-1{
    background-color: transparent;
    color: white;
    text-decoration: none;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-around;
}

/*Rodape do site*/

footer{
    color: white;
    background-color: rgb(67, 110, 67);
    font-size: 16px;
    padding: 10px;
}

.rodape{
    display: flex;
    margin-top: 50px;
}
.rodape > p{
    align-items: center;
}

#logo{
    flex-direction: column;
    justify-content: center;
}
#logo > p{
    font-size: 12px;
}
#logo > img{
    justify-content: center;
    width: 70px;
}
#nome-empresa{
    height: 0;
    width: 0;
}