*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'Minecraft';
    src: url(minecraft/Minecraft.ttf);
}

#participantes{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#skins{
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 55px;
    padding: 15px;
}
.nome{
    font-size: 33px;
}
img{
    width: 70px;
}
#sking, #skinn{
    width: 70px;
    height: 147px;
}
#skinc{
    width: 80px;
    
}

/* Criar a janela com informações*/
#carlos{
    display: flex;
    position: relative;
    border: solid blue 2px;
    height: 290px;
    transition: 0.5s;
    width: 400px;
    justify-content: center;
}
#carlos #imgc{
    position: absolute;
    height: auto;
    top: 0px;
    height: auto;
    transition: 0.5s;
}
#carlos:hover{
    height: 300px;
    transition: 0.5s;
}

#carlos:hover #imgc{
    top: -50px;
    scale: 0.75;
}


#carlos #imgc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carlos #inf-carlos{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
}
#carlos:hover #inf-carlos{
    top: 130px;
    height: 250px;
}

#carlos{
    display: flex;
    position: relative;
    border: solid blue 2px;
    height: 290px;
    transition: 0.5s;
    width: 400px;
    justify-content: center;
}
#carlos #imgc{
    position: absolute;
    height: auto;
    top: 0px;
    height: auto;
    transition: 0.5s;
}
#carlos:hover{
    height: 300px;
    transition: 0.5s;
}

#carlos:hover #imgc{
    top: -50px;
    scale: 0.75;
}


#carlos #imgc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carlos #inf-carlos{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
}
#carlos:hover #inf-carlos{
    top: 130px;
    height: 250px;
}