*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'Minecraft';
    src: url(minecraft/Minecraft.ttf);
}

#participantes{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 671px;
}
#skins{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1{
    font-size: 55px;
    padding: 15px;
}
.nome{
    font-size: 33px;
}
#sking, #skinn{
    width: 70px;
    height: 147px;
}
#skinc{
    width: 80px;
    
}
.ft-part{
    height: 200px;
    width: 200px;
}
/* Criar a janela com informações*/
/*Carlos*/
#carlos{
    display: flex;
    position: relative;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    height: 290px;
    transition: 0.5s;
    width: 400px;
    justify-content: center;
}
#carlos #imgc{
    position: absolute;
    height: auto;
    top: 0px;
    height: auto;
    transition: 0.5s;
}
#carlos:hover{
    height: 510px;
    transition: 0.5s;
}

#carlos:hover #imgc{
    top: -50px;
    scale: 0.75;
}


#carlos #imgc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carlos #inf-carlos{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    text-align: center;
    height: 36px;
    overflow: hidden;
    transition: 0.5s;
}
#carlos:hover #inf-carlos{
    top: 130px;
    height: 490px;
}
/*Gustavo*/
    #gustavo{
        display: flex;
        position: relative;
        border-radius: 8px;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
        height: 290px;
        transition: 0.5s;
        width: 400px;
        justify-content: center;
    }
    #imgg{
        width: 150px;
    }
    #gustavo #imgg{
        position: absolute;
        height: auto;
        top: 0px;
        height: auto;
        transition: 0.5s;
    }
    #gustavo:hover{
        height: 510px;
        transition: 0.5s;
    }
    
    #gustavo:hover #imgg{
        top: -50px;
        scale: 0.75;
    }
    
    
    #gustavo #imgg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #gustavo #inf-gustavo{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 200px;
        text-align: center;
        height: 36px;
        overflow: hidden;
        transition: 0.5s;
    }
    #gustavo:hover #inf-gustavo{
        top: 130px;
        height: 450px;
    }
/*Nickolas*/
#nickolas{
    display: flex;
    position: relative;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    height: 290px;
    transition: 0.5s;
    width: 400px;
    justify-content: center;
}
#imgn{
    width: 150px;
}
#nickolas #imgn{
    position: absolute;
    height: auto;
    top: 0px;
    height: auto;
    transition: 0.5s;
}
#nickolas:hover{
    height: 510px;
    transition: 0.5s;
}

#nickolas:hover #imgn{
    top: -50px;
    scale: 0.75;
}


#nickolas #imgn img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#nickolas #inf-nickolas{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    text-align: center;
    height: 36px;
    overflow: hidden;
    transition: 0.5s;
}
#nickolas:hover #inf-nickolas{
    top: 130px;
    height: 450px;
}

.redes{
    height: 40px;
}