*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.cabecalho, footer{
    background-color: green;
}

.perguntas{
    list-style: none;
    width: 30%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}


.txt-abrivel{
    display: none;
}

.title:hover{
    display: block;
}

.title:hover + .txt-abrivel{
    display: block;
}

.cabecalho{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 100px;
    align-items: center;
}
.anuncio{
    border: solid 3px black;
    width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#texto-grupo{
    display: flex;
    flex-direction: column;

}

.anuncio > h2{
    padding-top: 30px;
    padding-bottom: 30px;
}

#link-grupo{
    margin: 20px;
}

#imganuncio{
    width: 300px;
}
#anuncio1{
    display: flex;
    flex-direction: column;
}
.ft-perfil{
    height: 50px;
}

.explorar1{
    display: flex;
    justify-content: center;
}

#explorar2{
    display: flex;
    justify-content: center;
}

.exp1{
    width: 300px;
    margin: 50px;
}

.exp2{
    width: 300px;
    margin: 50px;
}

.img{
    width: 57px;
}
#suporte1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#conectar1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#relatar1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#download1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#download-link{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid black 2px;
    background-color: aqua;
    display: block;

}
.exp1{
    border: solid black 3px;
    padding: 30px;
}
.exp2{
    border: solid black 3px;
    padding: 30px;
}
.exp1 > h2{
    padding-bottom: 20px;
}
.exp1 > p{
    padding-bottom: 30px;
}
.exp2 > h2{
    padding-bottom: 20px;
}
.exp2 > p{
    padding-bottom: 30px;
}
#download-link{
    display: flex;
    align-items: center;
}
#relatar1{
    display: flex;
    align-items: center;
}
#conectar1{
    display: flex;
    align-items: center;
}
#suporte1{
    display: flex;
    align-items: center;
}