*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.perguntas{/*Não mude nada aqui a não ser onde esta escrito*/
    margin: 0;/*Mude aqui para mudar o posicionamento dos quadrados*/
    width: 600px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
}

#ft-perfil{
    height: 50px;
}

.perguntas li{/*Não mude nada aqui*/
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.perguntas li label{/*Não mude nada aqui a não ser onde esta escrito*/
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;/*Mude aqui para mudar o tamanho da letra*/
    font-weight: 500;
    cursor: pointer;
}

label::before{/*Não mude nada do que esta aqui*/
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"]{/*Não mude nada do que esta aqui*/
    display: none;
}

.perguntas .conteudo{/*Não mude nada aqui a não ser onde esta escrito*/
    color: black;/*Mude aqui para mudar a cor da letra do conteudo*/
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.perguntas input[type="radio"]:checked + label + .conteudo{/*Não mude nada do que esta aqui*/
    max-height: 400px;
    padding: 10px 10px 20px;
}

.perguntas input[type="radio"]:checked + label::before{/*Não mude nada do que esta aqui*/
    content: '-';
}