*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Minecraft';
    src: url(minecraft/Minecraft.ttf);
}

.cabecalho{
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
   background-color: rgb(104, 104, 104);
    color: white;
    height: 100px;
    align-items: center;
}
#imgtittle{
    padding-top: 12px;
    width: 650px;
}
.ft-perfil{
    height: 50px;
}
h1{
    text-align: center;
    font-size: 40px;
}
.introducao > p{
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
}
h2{
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
}
#titulo{
    padding-top: 20px;
}
#titulo2{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}
#suporte{
    display: flex;
    justify-content: space-around;
    gap: 0;
    padding-top: 45px;
    padding-bottom: 55px;
}
#suporte > #passo1{
    border: solid 5px rgb(104, 104, 104);
    border-radius: 20px;
}
#suporte > #passo2{
    border: solid 5px rgb(104, 104, 104);
    border-radius: 20px;
}
#suporte > #passo3{
    border: solid 5px rgb(104, 104, 104);
    border-radius: 20px;
}
h3{
    font-family: "Minecraft";
    padding-top: 20px;
    font-size: 33px;
    text-align: center;
}
p{
    font-size: 17px;
    padding: 15px;
}
#img1{
    width: 500px;
    align-items: center;
    padding: 20px;
    border-radius: 29px;
}
#img2{
    width: 450px;
    align-items: center;
    padding: 20px;
    border-radius: 29px;
}
#img3{
    width: 425px;
    align-items: center;
    padding: 20px;
    border-radius: 29px;
}
footer{
    color: white;
    background-color: rgb(104, 104, 104);
    padding: 40px;
    font-size: 16px;
    text-align: center;
}
